@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #18377e;
  font-size: 100px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: #18377e;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: #18377e;
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: #18377e;
    stroke-width: 3;
  }
  100% {
    fill: #18377e;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.main-wrapper {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  svg text {
    font-size: 50px;
  }
}
